@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.btn-green {
    background-color: #AEFD00;
    color: black;
}

.btn-grey {
    background-color: #454446;
    color: white;
}

.btn-custom {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    width: 150px;
    text-align: center;
    margin-left: 10px;
}

.btn-custom2 {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.navbar ul {
    gap: 20px;
}

.navbar li a {
    color: white;
    font-size: 18px;
}

@media (max-width: 768px) {
    .btn-custom {
        margin-left: 0;
        margin-top: 10px;
    }
}

.btn-green:hover {
    background-color: #454446;
    color: white;
}

.btn-grey:hover {
    background-color: #AEFD00;
    color: black;
}

.black-section {
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0;
}

.white-section {
    background-color: #AEFD00;
    color: black;
    padding: 50px 0;
}

.profile {
    max-width: 100%;
}

.about-me-text {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
}

.card {
    border-radius: 10px;
    border: none;
}

.badge {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
}

.logo {
    max-width: 100px;
    height: auto;
}

/* Ukuran untuk tablet (≤ 768px) */
@media (max-width: 768px) {
    .logo {
        max-width: 90px;
    }
}

/* Ukuran untuk HP (≤ 576px) */
@media (max-width: 576px) {
    .logo {
        max-width: 70px;
    }
}

/* Ukuran untuk HP kecil (≤ 400px) */
@media (max-width: 400px) {
    .logo {
        max-width: 60px;
    }
}

.logo-pop:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}